.hero17-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
.hero17-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero17-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero17-text {
  text-align: center;
}
.hero17-text1 {
  text-align: center;
}
.hero17-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.hero17-container1 {
  display: contents;
}
.hero17-root-class-name {
  background-color: var(--dl-color-theme-accent2);
}
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button {
    width: 100%;
  }
}

.features2-layout302 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features2-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features2-section-title {
  align-items: flex-start;
}
.features2-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features2-feature1 {
  align-items: center;
  justify-content: center;
}
.features2-icon {
  width: 240px;
  height: 100px;
}
.features2-title1 {
  width: 217px;
  height: 35px;
  text-align: center;
}
.features2-description1 {
  align-self: stretch;
  text-align: justify;
}
.features2-feature2 {
  align-items: flex-start;
}
.features2-icon2 {
  width: 240px;
  height: 100px;
  align-self: center;
}
.features2-description11 {
  text-align: justify;
}
.features2-feature3 {
  align-items: flex-start;
}
.features2-icon4 {
  width: 240px;
  height: 100px;
  align-self: center;
}
.features2-feature5 {
  align-items: flex-start;
}
.features2-icon6 {
  width: 240px;
  height: 100px;
}
.features2-description13 {
  text-align: justify;
}
.features2-root-class-name {
  background-color: var(--dl-color-theme-secondary1);
}
@media(max-width: 479px) {
  .features2-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.features21-layout302 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features21-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features21-section-title {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: flex-start;
}
.features21-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features21-row {
  position: relative;
}
.features21-feature1 {
  align-items: center;
}
.features21-icon {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
.features21-title1 {
  text-align: center;
}
.features21-feature2 {
  align-items: center;
}
.features21-icon2 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
.features21-title11 {
  text-align: center;
}
.features21-feature3 {
  align-items: center;
}
.features21-icon4 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
.features21-title12 {
  text-align: center;
}
.features21-feature4 {
  align-items: center;
}
.features21-icon7 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
.features21-title13 {
  text-align: center;
}
.features21-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
@media(max-width: 479px) {
  .features21-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features21-actions {
    width: 100%;
    flex-direction: column;
  }
}

.blog-post-header8-blog-post-header3 {
  display: flex;
  position: relative;
  align-items: center;
}
.blog-post-header8-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blog-post-header8-content {
  height: 658px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.blog-post-header8-title {
  align-self: flex-start;
}
.blog-post-header8-share-buttons {
  align-self: flex-start;
}
.blog-post-header8-text {
  font-size: 24px;
  font-style: normal;
  text-align: justify;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-threeunits);
  text-transform: uppercase;
  text-decoration: none;
}
.blog-post-header8-text1 {
  font-size: 24px;
  font-style: normal;
  text-align: justify;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: var(--dl-space-space-threeunits);
  text-transform: uppercase;
  text-decoration: none;
}
.blog-post-header8-text2 {
  font-size: 24px;
  font-style: normal;
  text-align: justify;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: uppercase;
  text-decoration: none;
}
.blog-post-header8-list {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-header8-list-item {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-header8-list-item1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-header8-list-item2 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-header8-image {
  width: 50%;
  height: 672px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .blog-post-header8-max-width {
    flex-direction: column;
  }
  .blog-post-header8-share-buttons {
    flex-direction: row;
  }
  .blog-post-header8-image {
    width: 100%;
    height: 500px;
  }
}
@media(max-width: 767px) {
  .blog-post-header8-content {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .blog-post-header8-content {
    align-items: center;
  }
  .blog-post-header8-title {
    text-align: center;
  }
  .blog-post-header8-share-buttons {
    align-self: center;
  }
}

.features17-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.features17-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.features17-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.features17-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.features17-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  flex-direction: column;
}
.features17-root-class-name {
  background-color: var(--dl-color-theme-accent2);
}
@media(max-width: 991px) {
  .features17-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.cta26-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container1:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
@media(max-width: 767px) {
  .cta26-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .cta26-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta26-button {
    flex: 1;
  }
}

.contact10-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact10-max-width {
  align-self: center;
}
.contact10-content {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.contact10-content1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact10-content2 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact10-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact10-text1 {
  text-align: center;
}
.contact10-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact10-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact10-text4 {
  text-align: center;
}
.contact10-text5 {
  width: 440px;
  height: 28px;
}
.contact10-container4 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media(max-width: 991px) {
  .contact10-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact10-content2 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .contact10-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
